# Dépendances
node_modules/

# Builds / bundles
dist/
build/
app/dist/
web-build/

# Expo
.expo/
.expo-shared/
*.orig.*

# Natif (généré)
android/
ios/

# Logs & divers
npm-debug.*
*.log
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Env
.env*.local
